@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap');
body{
  overflow-x: hidden;

}
.page_title{
  font-size: 65px;
  font-weight: bold;
}
.alert{
  font-family: 'Zilla Slab Highlight', cursive ;
}
.text {
  font-size: 3rem;
  text-align: center;
  font-family: serif;
  margin-top: 50px;
}
.text i{
  color:#49c8f2;
}
form{
  margin-left: 80px;
}
@keyframes Bounce1 {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(8px);
  }
  50%{
    transform: translateY(-8px);
  }
  75%{
    transform: translateY(4px);
  }
  100%{
    transform: translateY(-4px);
  }
}
.bounce1{
  font-size: 2.5rem;
    animation: Bounce1 1.5s ease-in-out  infinite alternate;
}
@keyframes Bounce2 {
  0%{
    transform: translateY(-2.5px);
  }
  25%{
    transform: translateY(2.5px);
  }
  50%{
    transform: translateY(-5px);
  }
  75%{
    transform: translateY(5px);
  }
  100%{
    transform: translateY(0px);
  }
}
.bounce2{
  font-size: 2.5rem;
    animation: Bounce2 2s ease-in-out  infinite alternate;
}
.box1{
  background-color: #49c8f2;
  height: 300px;
  width:1100px;
  position: relative;
  left:10%;

}
.box2{
  background-color: #42b4d9;
  height: 260px;
  width:1060px;
  position: relative;
  left:1.5%;
  top:4%;
  padding-bottom: 30px;
  border: 4px dashed lightgrey;
}
.image{
  position: relative;
  font-size: 4rem;
  top:10%;
  left:50%;
  color: white;
}
.file{
  position: relative;
  font-size: 1.5rem;
  top:20%;
  left:35%;
  display: block;
  color:white;
}
.upload{
  position: relative;
  top:30%;
  display: block;
  font-size: 1.5rem;
  left:47%;
  background-color:white;
  font-family: cursive;
}
.new-file{
  position: relative;
  font-size: 2rem;
  top:20%;
  left:30%;
  color:white;
}
.colored-section{
  text-align : center;
  padding-top : 500px;
  padding-left : 625px;
  margin-left : auto;
  margin-right : auto;
}
.footer-dark {
  padding:5px;
  position:fixed;
   left: 0;

   width: 100%;
  color:#f0f9ff;
  background-color:#282d32;

   bottom:0;
   width:100%;
   height:50px;
}



.copyright {
  text-align:center;
  color: white;
  padding-top:5.5px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

.container-fluid{
  padding-left:730px;
  padding-top:5px;
}
.cont{
  font-size: 20px;
  margin-left:100px;
  text-align: left;
  width:75%;
  color: #FFFFFF;
}
#a495{
  margin-left:20px;
}
.steps{
  color:#FFFFFF;
  text-align: center;
  padding-bottom:10px;
  padding-top:10px;
}
.final{
  text-align: center;
  padding-bottom:10px;
  padding-top:10px;
  color:#FFFFFF;
  padding-bottom:10px;

}

.hr{
  margin-top:30px;
  margin-left:220px;
  width:74%;
}
.box{
  background-color: black;
  margin-left:220px;
  width:74%;
  padding-bottom:20px;
  border: 4px dashed lightgrey;
}
.mono{
  font-size: 20px;
  margin-left:30px;
  font-weight: bold;
}
.box3{
  background-color: #49c8f2;
  height: 300px;
  width:1100px;
  position: relative;
  left:10%;
  padding-bottom:25px;
  margin-left:55px;
}
.box4{
  background-color: #42b4d9;
  height: 260px;
  width:1060px;
  position: relative;
  left:1.5%;
  top:4%;
  padding-bottom: 30px;
  border: 4px dashed lightgrey;
}
